@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

body{
    background-color: #4D33CC;
    background-image: url("../images/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 10px auto;
    font-family: 'Nunito', serif;

}

#main_container
{
    width: fit-content;
    padding: 10px;
    margin: 0 auto;

    background-color: hsla(220, 70%, 70%, 0.4);
    backdrop-filter: blur(10px);

}

.logo-internal{
    width: 64px;
    height: 64px;
}

@media (max-width: 800px) {
    .logo-internal {
        width: 3em;
        height: 3em;
    }
}

@media (max-width: 500px){
    .break{
        display: inline;
    }
}

@media (min-width: 500px){
    .break{
        display: none;
    }
}

.partner {
    margin: 3px;
}

